.dropdown-menu.loading {
    position: absolute;
}

.filter-item .ui-multiselect-menu,
.filter-default.dropdown-menu {
    .datagrid-manager__footer {
      display: flex;
      justify-content: space-between;
    }
}

